<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>React Webpack Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
      <script>
        (function(){
          var ef = function(){};
          window.console = window.console || {log:ef,warn:ef,error:ef,dir:ef};
        }());
      </script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-sham.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/ie8/0.2.2/ie8.js"></script>
    <![endif]-->

    {% if( o.webpack.assetsByChunkName.main instanceof Array ) {
         var a = o.webpack.assetsByChunkName.main;
         for( var i = 0; i < a.length; i++ ) {
            if( a[i].slice(-3) === 'css' ) { %}
      <link rel="stylesheet" type="text/css" href="/{%= a[i] %}">
    {% }}} %}
  </head>
  <body>
    {% if( o.webpack.assetsByChunkName.main instanceof Array ) { %}
    <script src="/{%= o.webpack.assetsByChunkName.main[0] %}"></script>
    {% } else { %}
    <script src="/{%= o.webpack.assetsByChunkName.main %}"></script>
    {% } %}
  </body>
</html>
